.sheet-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 0;
}

.sheet-loader-ball {
  position: relative;
  width: 78px;
  height: 78px;
}

.sheet-loader-base,
.sheet-loader-fill {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.sheet-loader-base {
  opacity: 0.3;
  filter: grayscale(1) saturate(0) brightness(0.52) contrast(1.08);
}

.sheet-loader-fill {
  position: absolute;
  inset: 0;
  clip-path: inset(0 100% 0 0);
  animation: sheet-loader-paint 5s linear infinite;
}

@keyframes sheet-loader-paint {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  82% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}
